$breakpoint-mobile: 0px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1280px;

@mixin mobile {
  @media (min-width: $breakpoint-mobile) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $breakpoint-tablet) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin wide {
  @media (min-width: $breakpoint-wide) {
    @content;
  }
}

// === Удобные алиасы (то, что ты просил) ===
@mixin from-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin from-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin until-tablet {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin until-desktop {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}
